<fieldset>
    <legend>Admin</legend>
    <form action="/" method="post">
        Email: <input type="email" name="email" ng-model="email" />
        Password:<input type="password" name="password" ng-model="password" />
        <input type="button" value="Create New" ng-click="createNew()" />
    </form>
</fieldset>