﻿<fieldset>
	<legend>Admin</legend>

	<table>
		<thead>
		<tr>
			<th width="50">Id</th>
			<th width="500">Email</th>
			<th width="100">Password</th>
			<th width="50">edit</th>
			<th width="50">delete</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="person in persons">
			<td>{{person.id}}</td>
			<td><a href="#/{{person.id}}">{{person.email}}</a></td>
			<td><a href="#/{{person.id}}">{{person.password}}</a></td>
			<td><a href="#/{{person.id}}/edit" class="button small">Edit</a></td>
			<td><a href="#/{{person.id}}/del" class="button small alert">delete</a></td>
		</tr>
		</tbody>
	</table>
</fieldset>
