<fieldset>
    <legend>Admin</legend>
    <p>ID: {{person.id}}</p>
    <p>email: {{person.email}}</p>
    <p>password: {{person.password}}</p>
    <p>Created At: {{person.createdAt}}</p>
    <p>Updated At: {{person.updatedAt}}</p>
</fieldset>
