<fieldset>
	<legend>Admin</legend>

	<form ng-show="selectedPerson" action="/" method="post">
		Email: <input type="email" name="email"  value="{{selectedPerson.email}}" ng-model="selectedPerson.email" />
		Password:<input type="password" name="password" value="{{selectedPerson.password}}" ng-model="selectedPerson.password" />
		<input type="button" name="name" value="Save Changes" ng-click="saveChanges()" />
	</form>

</fieldset>

