
<fieldset>
    <legend>News</legend>

    <form action="/" method="post">
        News Date: <input type="text" name="news_dateText" ng-model="news_date" /></br>
        News Title: <input type="text" name="news_titleText" ng-model="news_title" /></br>
        News Description:<input type="text" name="descriptionText" ng-model="description" /></br>
        News Day: <input type="text" name="news_dateText" ng-model="news_day" /></br>
        News Month: <input type="text" name="news_titleText" ng-model="news_month" /></br>
        News Year:<input type="text" name="descriptionText" ng-model="news_year" /></br>
        <input type="button" value="Create New" ng-click="createNew()" />
    </form>

</fieldset>