<fieldset>
    <legend>News</legend>

    <form ng-show="selectedPerson" action="/" method="post">
        News Date: <input type="text" name="news_date" value="{{selectedPerson.news_date}}" ng-model="selectedPerson.news_date" />
        News Title: <input type="text" name="news_title" value="{{selectedPerson.news_title}}" ng-model="selectedPerson.news_title" />
        News Description:<input type="text" name="description" value="{{selectedPerson.description}}" ng-model="selectedPerson.description" />
        News Day: <input type="text" name="news_day" value="{{selectedPerson.news_day}}" ng-model="selectedPerson.news_day" />
        News Month: <input type="text" name="news_month" value="{{selectedPerson.news_month}}" ng-model="selectedPerson.news_month" />
        News Year:<input type="text" name="news_year" value="{{selectedPerson.news_year}}" ng-model="selectedPerson.news_year" />
        <input type="button" name="name" value="Save Changes" ng-click="saveChanges()" />
    </form>

</fieldset>