<fieldset>
    <legend>News</legend>

    <p>ID: {{person.id}}</p>
    <p>news_date: {{person.news_date}}</p>
    <p>news_title: {{person.news_title}}</p>
    <p>description: {{person.description}}</p>
    <p>news_day: {{person.news_day}}</p>
    <p>news_Month: {{person.news_month}}</p>
    <p>news_year: {{person.news_year}}</p>
    <p>Created At: {{person.createdAt}}</p>
    <p>Updated At: {{person.updatedAt}}</p>

</fieldset>