﻿<fieldset>
	<legend>News</legend>

	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>News Title </th>
			<th>News Description </th>
			<th>News Date </th>
			<th> News Day</th>
			<th> News Month</th>
			<th> News Year</th>
			<th>Edit</th>
			<th>delete</th>
		</tr>
		</thead>

		Search News:<input type="text" ng-model="news_title" />

		<tbody>
		<tr ng-repeat="person in persons | filter:news_title">
			<td>{{person.id}}</td>
			<td><a href="#/{{person.id}}"></a>{{person.news_title}}</td>
			<td><a href="#/{{person.id}}"></a>{{person.description}}</td>
			<td><a href="#/{{person.id}}"></a>{{person.news_date}}</td>
			<td><a href="#/{{person.id}}"></a>{{person.news_day}}</td>
			<td><a href="#/{{person.id}}"></a>{{person.news_month}}</td>
			<td><a href="#/{{person.id}}"></a>{{person.news_year}}</td>
			<td><a href="#/{{person.id}}/edit" class="button small"></a>edit</td>
			<td><a href="#/{{person.id}}/del" class="button small"></a>Delete</td>
		</tr>
		</tbody>
	</table>

</fieldset>
