<html>
	<head>
		<title>video Assign</title>
		</head>
	<body>
	
		<form action="" method="post">
		
		select video:<select ng-model="v_id" ng-options="v.id as v.text for v in videos.video">
			<option value=""> select option</option>
		</select>
		select Gallery:<select ng-model="g_id" ng-options="v.id as v.g_name for v in videos.g">
			<option value=""> select option</option>
			
		</select>
			<input type="submit" value="Assign video" name="assign_video" ng-click="assign()"></input>
			</form>
			{{videos}}
			</body>
			</html>