<h3>Upload Video</h3>

<form action="/uploadvideo" method="post" enctype="multipart/form-data">

    <label>Full Name:
        <input type="text" placeholder="Enter Video Name" required>
    </label>
    <label>Browse:
        <input type="file" required name="uploadVideo" accept="video/*">
    </label>

    <button type="submit" value="submit" ng-disabled = "$isUploading">Upload</button>
</form>