
<p>ID: {{person.id}}</p>
<p>Video Text: {{person.text}}</p>
<p>Video Title: {{person.title}}</p>
<p>Video Order: {{person.order}}</p>
<p>Video: {{person.vid}}</p>
<p>Created At: {{person.createdAt}}</p>
<p>Updated At: {{person.updatedAt}}</p>