﻿<table>
	<thead>
		<tr>
			<th>video</th>
			<th width="50px">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in persons">
			<td>
				<video width="100%" style = "min-width: 600px;" controls>
					<source ng-src="{{person.video}}" type="video/mp4">
				</video>
			</td>
			<td>
				<h3 class="subheading">ID: {{person.id}}</h3><br/>
				<a href="#/{{person.id}}/edit" class="button tiny" style="width: 100%">Edit</a><br/>
				<a href="#/{{person.id}}/assign" class="button tiny" style="width: 100%">Assign</a><br/>
				<a href="#/{{person.id}}/del" class="button small tiny alert" style="width: 100%">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
