<form action="/" method="post">
   Video Text: <input type="text" name="textText" ng-model="text" />
   Video Title: <input type="text" name="titleText" ng-model="title" />
    Video Order:<input type="text" name="orderText" ng-model="order" />
	Video:<input type="text" name="vidText" ng-model="vid" />
    <input type="button" value="Create New" ng-click="createNew()" />
</form>