<form ng-show="selectedPerson" action="/" method="post">
   Video Text: <input type="text" name="text"  value="{{selectedPerson.text}}" ng-model="selectedPerson.text" />
   Video Title: <input type="text" name="title"  value="{{selectedPerson.title}}" ng-model="selectedPerson.title" />
	Video Order:<input type="text" name="order" value="{{selectedPerson.order}}" ng-model="selectedPerson.order" />
    Video:<input type="text" name="vid" value="{{selectedPerson.vid}}" ng-model="selectedPerson.vid" />
    <input type="button" name="name" value="Save Changes" ng-click="saveChanges()" />
</form>