<html lang="en">
<head>
    <title></title>
</head>
<body>
<div class="border-bot1 img-indent-bot">

    <h2>Templates Here </h2>
    <ul>
        {% for item in data %}
        <li{% if loop.first %} class="first"{% endif %}>
        <a href="/uploads/{{item.image}}" download> {{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>

</div>
</body>
</html>