<p>ID: {{person.id}}</p>
<p>events_date: {{person.events_date}}</p>
<p>events_title: {{person.events_title}}</p>
<p>description: {{person.description}}</p>
<p>Created At: {{person.createdAt}}</p>
<p>Updated At: {{person.updatedAt}}</p>