<form action="/" method="post">
    Event Date: <input type="text" name="events_dateText" ng-model="news_date" />
   Event Title: <input type="text" name="events_titleText" ng-model="news_title" />
	Event Description:<input type="text" name="descriptionText" ng-model="description" />
    <input type="button" value="Create New" ng-click="createNew()" />
</form>