﻿<table width="400px" border="2px" align="center" >
	<tr>
		<td>ID</td>
		<td>Events</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
	<tr ng-repeat="person in persons">
		<td>{{person.id}}</td>
		<td>
			<a href="#/{{person.id}}">
				{{person.events_date}} -  {{person.events_title}} -  {{person.description}}
			
			</a>
		</td>
		<td>
			<a href="#/{{person.id}}/edit">
				Edit
			</a>
		</td>
		<td>
			<a href="#/{{person.id}}/del">
				Delete
			</a>
		</td>
	</tr>
</table>

