<form ng-show="selectedPerson" action="/" method="post">
   Event Date: <input type="text" name="events_date" value="{{selectedPerson.events_date}}" ng-model="selectedPerson.events_date" />
   Event Title: 
   <input type="text" name="events_title" value="{{selectedPerson.events_title}}" ng-model="selectedPerson.events_title" />
	 Event Description:
	 <input type="text" name="description" value="{{selectedPerson.description}}" ng-model="selectedPerson.description" />
    <input type="button" name="name" value="Save Changes" ng-click="saveChanges()" />
</form>