<html>
	<head>
		<title>Image Assign</title>
		</head>
	<body>
	
		<form action="" method="post">
		
		select images:<select ng-model="img_id" ng-options="i.id as i.img for i in images.image">
			<option value=""> select option</option>
		</select>
		select Gallery:<select ng-model="g_id" ng-options="i.id as i.g_name for i in images.g">
			<option value=""> select option</option>
			
		</select>
			<input type="submit" value="Assign image" name="assign_image" ng-click="assign()"></input>
			</form>
			{{images}}
			</body>
			</html>