<form ng-show="selectedPerson" action="/" method="post">
   Image Text: <input type="text" name="img"  value="{{selectedPerson.img}}" ng-model="selectedPerson.img" />
   Image Title: <input type="text" name="img_title"  value="{{selectedPerson.img_title}}" ng-model="selectedPerson.img_title" />
	Image des:<input type="text" name="img_des" value="{{selectedPerson.img_des}}" ng-model="selectedPerson.img_des" />
    Image Order:<input type="text" name="img_order" value="{{selectedPerson.img_order}}" ng-model="selectedPerson.img_order" />
    <input type="button" name="name" value="Save Changes" ng-click="saveChanges()" />
</form>