
<p>ID: {{person.id}}</p>
<p>Image: {{person.img}}</p>
<p>Image Title: {{person.img_title}}</p>
<p>Image Des: {{person.img_des}}</p>
<p>Image Order: {{person.img_order}}</p>
<p>Created At: {{person.createdAt}}</p>
<p>Updated At: {{person.updatedAt}}</p>