﻿<table>
    <thead>
    <tr>
        <th width="50">Id</th>
        <th width="550">Image</th>
        <th width="50">Edit</th>
        <th width="50">Assign</th>
        <th width="50">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in persons">
        <td>{{person.id}}</td>
        <td><img width="100%" style="min-width: 200px;" ng-src="{{person.image}}" /></td>
        <td><a href="#/{{person.id}}/edit" class="button small">Edit</a></td>
        <td><a href="#/{{person.id}}/assign" class="button small">Assign</a></td>
        <td><a href="#/{{person.id}}/del" class="button small alert">delete</a></td>
    </tr>
    </tbody>
</table>