<form action="/" method="post">
   
	Image: <input type="text" name="imgText" ng-model="img" value="{{image}}" /></br>
    Image Title: <input type="text" name="img_titleText" ng-model="img_title" /></br>
    Image Des:<input type="text" name="img_desText" ng-model="img_des" /></br>
	Image Order:<input type="text" name="img_orderText" ng-model="img_order" /></br>
    <input type="button" value="Create New" ng-click="createNew()" />
</form>