<h3>Upload Image</h3>

<form action="/upload" method="post" enctype="multipart/form-data">

    <label>Full Name:
        <input type="text" placeholder="Enter Image Name" required>
    </label>
    <label>Browse:
        <input type="file" required name="uploadImage" accept="image/*">
    </label>

    <button type="submit" value="submit" ng-disabled = "$isUploading">Upload</button>
</form>