.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

@font-face {
    font-family: roboto-slab-700;
    src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: roboto-slab-400;
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: roboto-slab-300;
    src: url("../fonts/RobotoSlab-Light.ttf") format('truetype');
    font-weight: 300;
}@font-face {
    font-family: roboto-slab-100;
    src: url("../fonts/RobotoSlab-Thin.ttf") format('truetype');
    font-weight: 100;
}

.heading {
    font-family: roboto-slab-700;
    font-size: 25px;
}

.subheading {
    font-family: roboto-slab-400;
    font-size: 20px;
}

.social-icons {
    padding: 15px;
}
.social-icons a {
    padding: 4px;
    color: #2E2E2E;
}
.social-icons a:hover {
    color: #007095;
}
.side-nav li{
    font-family: roboto-slab-400;
    font-size: 20px;
}
.active {
    font-family: roboto-slab-400;
    font-size: 20px;
    color: black;
}

.header-image {
    position: relative;
}
.header-image-text-overlay {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.header-image-text {
    position: absolute;
    Bottom: 9px;
    left: 0px;
    width: 100%;
    color: white;
    font-family: roboto-slab-700;
    font-size: 60px;
}

.page-content-area {
    margin: 50px 30px;
}

.image-row ul{
    margin: 0 20px;
}
.image-row img {
    height: 167px;
}

.footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #2E2E2E;
    color: white;
    font-family: roboto-slab-400;
    font-size: 15px;
}

.footer span {
    margin-left: 35%;
}

/* Scroll bar styles */
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}