<form ng-show="selectedPerson" action="/" method="post">
	Gallery Name: <input type="text" name="g_name" value="{{selectedPerson.g_name}}" ng-model="selectedPerson.g_name" />
	Gallery Category: <input type="text" name="g_catagory" value="{{selectedPerson.g_catagory}}" ng-model="selectedPerson.g_catagory" />
	<input type="button" name="name" value="Save Changes" ng-click="saveChanges()" />
</form>