<fieldset>
	<legend>Admin</legend>
	<form action="/" method="post">
		Gallery Name: <input type="text" name="g_nameText" ng-model="g_name" />
		Gallery Category <input type="text" name="g_catagoryText" ng-model="g_catagory" />
		<input type="button" value="Create New" ng-click="createNew()" />
	</form>
</fieldset>