<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Scheduler Events</title>
    <!--<link href="./_assets/styles.css" rel="stylesheet" type="text/css" />-->
    <link href="./_assets/css/foundation.min.css" rel="stylesheet" type="text/css" />
    <link href="./_assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="./_assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="./_assets/js/foundation.min.js"></script>
</head>

<body ng-app="myApp">
<div id="container">

    <!-- begin #header -->
    <div id="header">
        <!-- Head -->
        <div class="panel" style="margin-bottom: 0rem;">
            <div class="row fullWidth">
                <!-- Site Logo -->
                <div class="large-5 columns">
                    <span class="heading">News And Event Management</span> <br/>
                    <span class="subheading">Design by ABC Company</span>
                </div>

                <!-- Social icons -->
                <div class="large-7 columns">
                    <div class="social-icons right">
                        <a href="http://www.twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="http://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
                    </div>

                    <span class="clearfix"></span>
                </div>
            </div>
        </div>

        <!-- navigation -->
        <div class="row fullWidth">
            <div class="icon-bar seven-up">
                <a class="item" href="admin">
                    <i class="fa fa-user fa-fw"></i>
                    <label>Admin</label>
                </a>
                <a class="item" href="Video#/video">
                    <i class="fa fa-video-camera fa-fw"></i>
                    <label>Video</label>
                </a>
                <a class="item" href="g#/g">
                    <i class="fa fa-folder-open fa-fw"></i>
                    <label>My Gallery</label>
                </a>
                <a class="item" href="image#/image">
                    <i class="fa fa-picture-o fa-fw"></i>
                    <label>Images</label>
                </a>
                <a class="item" href="crud">
                    <i class="fa fa-newspaper-o fw"></i>
                    <label>News</label>
                </a>
                <a class="active item" href="eventview">
                    <i class="fa fa-calendar-o fw"></i>
                    <label>Event List</label>
                </a>
                <a class="item" href="scheduler">
                    <i class="fa fa-calendar fw"></i>
                    <label>Calender</label>
                </a>
            </div>
        </div>
        <!-- Header Image -->
        <div class="headerPic row fullWidth" style="margin-top: -10px;">
            <div class="header-image">
                <img src="./_assets/images/headerImage.jpg" alt="" class="header-image" />
                <h2 class="header-image-text"><span class="header-image-text-overlay">Discover the Adriatic</span></h2>
            </div>
        </div>
    </div>
    <!-- end #header -->

    <!-- Main Content Area -->
    <div class="mainContent row">
        <div class="page-content-area">
            <fieldset>
                <legend>Scheduler Event View</legend>

                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Text</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    </thead>
                    <tbody ng-controller="eventsController">
                    <tr ng-repeat="event in events">
                        <td>{{event.id}}</td>
                        <td>{{event.text}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                    </tr>
                    </tbody>
                </table>

            </fieldset>

        </div>
    </div>

    <hr/>
    <!-- Gallery -->
    <div class="row image-row">
        <ul class="small-block-grid-4">
            <li><img src="./_assets/images/P7230760-01 copy.jpg"></li>
            <li><img src="./_assets/images/fg.jpg"></li>
            <li><img src="./_assets/images/fd.jpg"></li>
            <li><img src="./_assets/images/roommainpage.jpg"></li>
        </ul>
    </div>
</div>
<!-- end #container -->

<!-- begin #footer -->
<div class="footer" class="row">
    <span class="text-center">Copyright &copy; Traveller. Designed by ABC Company</span>
</div>
<!-- end #footer -->

<!-- Libraries -->
<script src="../_assets/lib/angular.min.js" type="text/javascript" ></script>

<!-- Services -->
<script src="../schedulerEvents/controller.js" type="text/javascript" ></script>

</body>
</html>